<!-- 
<nav class="navbar sticky-top navbar-expand-lg"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white; font-size: 1.8rem;"><img src=".../src/img/aclc2.png" alt="logo" height="50px" style="margin-right: 3vh; margin-top: 0;">ACLC GUADALUPE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href=".../src/templates/admissions.html">Admissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacts</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            School
          </a>
          <ul class="dropdown-menu" style="background-color: rgb(23, 18, 83);">
            <li><a class="dropdown-item" href="#">Student life</a></li>
            <li><a class="dropdown-item" href="">Events</a></li>
            <li><a class="dropdown-item" href="#">Shs Strands</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
</nav> -->


<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #F4EBBE; font-size: 1.5rem;"><img src="/src/img/Aclc2.png" alt="logo" height="50px" style="margin-right: 3vh; margin-top: 0;">ACLC GUADALUPE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#discover">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tracks">Tracks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            School
          </a>
          <ul class="dropdown-menu" style="background-color: rgba(23, 18, 83, 0.609);">
            <li><a class="dropdown-item" href="/src/templates/events.html">Student Events</a></li>
            <li><a class="dropdown-item" href="/src/templates/works.html">Student WORKS</a></li>
            <li><a class="dropdown-item" href="/src/templates/works.html">ACADEMIC TRACK</a></li>
            <li><a class="dropdown-item" href="/src/templates/works.html">ICT-TVL TRACK</a></li>
          </ul>
        </li>
       
      </ul>
      <div class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit" style="border-color: rgb(128, 0, 0); color: rgb(255, 255, 255);">Contact</button>
      </div>
    </div>
  </div>
</nav>