<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aclc-Guadalupe Campus</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        
    </head>
    <body>
      <header class="sticky-top">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: #F4EBBE; font-size: 1.5rem;"><img src="../img/Aclc2.png" alt="logo" height="50px" style="margin-right: 3vh; margin-top: 0;">ACLC GUADALUPE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#poster">Slogan/Poster Making</a>
                </li>
        
                <li class="nav-item">
                  <a class="nav-link" href="#live">Live Perfomances</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#Requirements">Dances</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    School
                  </a>
                  <ul class="dropdown-menu" style="background-color: rgba(23, 18, 83, 0.609);">
                    <li><a class="dropdown-item" href="../templates/ict-tvl.html">ICT-TVL TRACK</a></li>
                    <li><a class="dropdown-item" href="../templates/events.html">Student events</a></li>
                    <li><a class="dropdown-item" href="../templates/academic.html">Academic TRACK</a></li>
                  </ul>
                </li>
               
              </ul>
              <div class="d-flex contacts" role="search">
                <a class="btn btn-outline-success" href="#footer" type="submit" style="border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">Contact</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!--intro-->


        <!--sportfest-->
        <main>
          <section id="fieldtrip" class="container-fluid text-center">
            <div class="discover-text animate">
              <h1 style=" margin-bottom: 8vh; font-size: 70px; animation-duration: 0.8s !important;"><span>SCHOOL</span> <span>EVENTS</span> <span>IN</span><span> ACLC</span> <span>GUADALUPE</span> <span> CAMPUS</span></h1>
            </div>
            </section>
         
          </section>
          <div class="discover-main animate" style="margin-bottom: 10vh; background: rgba(0,192,139,0);
          background: linear-gradient(90deg,rgba(0,192,139,0) 0%, rgba(124,0,177,0.68) 80%);
          background: -webkit-linear-gradient(90deg,rgba(0,192,139,0) 0%, rgba(124,0,177,0.68) 80%);
          background: -moz-linear-gradient(90deg,rgba(0,192,139,0) 0%, rgba(124,0,177,0.68) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
            <div class="row">
              <div class="col-sm-6 mb-3 mb-sm-0 discover-content animate">
                <div class="card text-bg-dark discover-card animate" >
                  <img src="../img/cpar2.png" class="card-img" alt="...">
                </div>
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0 discover-content animate">
                <div class="card text-bg-dark discover-card animate" >
                  <img src="../img/cpar3.png" class="card-img" alt="...">
                </div>
                </div>
                </div>
         <section id="discover" class="container-fluid text-center">
            <div class="discover-text animate">
              <h1 class="title-events" style=" margin-bottom: 8vh; font-size: 70px; animation-duration: 0.8s !important;"><span>SLOGAN</span> <span>&</span> <span>POSTER</span> <span>MAKING</span></h1>
              <p class="p-events" style="font-size: 20px; color: antiquewhite;">The purpose of a slogan is to appeal so that your customers will buy your products or services. On the other hand, a motto represents the organization's core values and beliefs that it follows as a brand. A motto compromises ethics and ideas that reflect the behavior of a particular group as a whole.</p>
            </div>
            </section>
            </div>
            </div>
            <div id="sport" class="discover-main animate" style="margin-bottom: 10vh; background: rgba(0,192,139,0);
            background: linear-gradient(90deg,rgba(0,192,139,0) 0%, rgba(255,0,177,0.34) 80%);
            background: -webkit-linear-gradient(90deg,rgba(0,192,139,0) 0%, rgba(255,0,177,0.34) 80%);
            background: -moz-linear-gradient(90deg,rgba(0,192,139,0) 0%, rgba(255,0,177,0.34) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
              <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0 discover-content animate">
                  <div class="card text-bg-dark discover-card animate" >
                    <img src="../img/mader.jpg" class="card-img" alt="...">
                  </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0 discover-content animate">
                  <div class="card text-bg-dark discover-card animate" >
                    <img src="../img/bata.png" class="card-img" alt="...">
                  </div>
                  </div>
                  <section id="discover" class="container-fluid text-center">
                    <div class="discover-text animate" id="Humms">
                      <h1 class="title-events" style=" margin-bottom: 8vh; font-size: 70px; animation-duration: 0.8s !important;"><span>LIVE</span> <span>PERFORMANCES</span></h1>
                      <p class="p-events" style="font-size: 20px; color: antiquewhite;">A play or musical. A concert, a live performance before an audience. A concert performance of opera or musical theatre without theatrical staging. A concert dance, performed live for an audience.</p>
                    </div>
                    </section>
                    </div>
                    </div>
                    
                    <div id="cpar" class="discover-main animate" style="margin-bottom: 10vh; background: rgba(0,192,139,0.82);
                    background: linear-gradient(90deg,rgba(0,192,139,0.82) 0%, rgba(0,255,0,0) 80%);
                    background: -webkit-linear-gradient(90deg,rgba(0,192,139,0.82) 0%, rgba(0,255,0,0) 80%);
                    background: -moz-linear-gradient(90deg,rgba(0,192,139,0.82) 0%, rgba(0,255,0,0) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
                      <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-0 discover-content animate">
                          <div class="card text-bg-dark discover-card animate" >
                            <img src="../img/hummsb.jpg" class="card-img" alt="...">
                          </div>
                        </div>
                        <div class="col-sm-6 mb-3 mb-sm-0 discover-content animate">
                          <div class="card text-bg-dark discover-card animate" >
                            <img src="../img/spe.png" class="card-img" alt="...">
                          </div>
                          </div>
                          <section id="discover" class="container-fluid text-center">
                            <div class="discover-text animate">
                              <h1 class="title-events" style=" margin-bottom: 8vh; font-size: 70px; animation-duration: 0.8s !important;"><span>DANCE</span> <span>PERFORMANCES</span></h1>
                              <p class="p-events" style="font-size: 20px; color: antiquewhite;">Dance performed for an audience. It is frequently performed in a theatre setting, though this is not a requirement, and it is usually choreographed and performed to set music. It also benefits their school grade, health, confidence and agility</p>
                            </div>
                            </section>
                            </section>
</main>

<!-- Footer -->
<footer class="bg-transparent text-center" style="background: rgba(255,0,236,0);
background: linear-gradient(271deg,rgba(255,0,236,0) 0%, rgba(0,4,50,0.57) 80%);
background: -webkit-linear-gradient(271deg,rgba(255,0,236,0) 0%, rgba(0,4,50,0.57) 80%);
background: -moz-linear-gradient(271deg,rgba(255,0,236,0) 0%, rgba(0,4,50,0.57) 80%); margin-top: 30vh;">
    <!-- Grid container -->
    <div class="container p-4 text-center">
        
          <!-- Section: Social media -->
      <section class="mb-4">
        <div class="card-body">
            <img src="../img/Aclc4.png" alt="logo" height="80vh" style="margin-right: 3vh; margin-top: 0;"></a>
            <section class="mb-4 text-center" >
                <!-- Facebook -->
                <a class="btn icon" style="background-image: linear-gradient(to top, #00047f 0%, #0060cd 100%) !important;" href="https://www.facebook.com/aclcguadalupe.edu.ph" role="button"><ion-icon name="logo-facebook" aria-label="favorite"></ion-icon></a>
          
                <!-- Twitter -->
                <a class="btn icon" style="background-image: linear-gradient(to top, #c508cf 0%, #dfa400 100%) !important;" href="https://www.instagram.com/aclcguadalupe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" role="button"><ion-icon name="logo-instagram" aria-label="favorite"></ion-icon></a>
          
                <!--  -->
                <a class="btn icon" style="background-image: linear-gradient(to top, #8f8f8f 0%, #000000 100%) !important;" href="https://x.com/aclcguadalupe" role="button"><ion-icon name="logo-twitter" aria-label="favorite"></ion-icon></a>
    
                <!--Google maps-->
                <a class="btn icon" style="background-image: linear-gradient(to top, #00fa04 0%, #007ad1 100%) !important;" href="https://maps.app.goo.gl/UYUSJLyTkZA9ZXyX6" role="button"><ion-icon name="location-outline" aria-label="favorite"></ion-icon></a>
              </section>
            <p class="card-text">The AMA Computer Learning Center (ACLC) was established in 1987 and the AMA Telecommunication & Electronic Learning Center in 1996. The former offers short-course programs for professionals and two-year technical/vocational courses for those who wish to acquire employment skills.</p>
          </div>
      </section>
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-sm-6 mb-3 mb-sm-0">
            <h5>MISSION</h5>
            <p> Provide a holistic, quality and globally recognized IT-based Education in all levels and disciplines with the objective of producing professionals and leaders responsive to the needs of Science and the International Community cognizant of the welfare and benefit of its men and women thereby realizing their potential as productive members of society for the honor of God Almighty.</p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-sm-6">
            <h5>VISION</h5>
            <p>    To become the leader and dominant provider of quality and excellent information technology-based business education and related services in the global market.</p>
          </div>
      </section>
      <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact us</h5>

        <ul class="list-unstyled mb-0 text-center">
          <li>
            <a href="#!" class="text-light">83731201 / 88820964</a>
          </li>
          <li>
            <a href="#!" class="text-light">09989734909 / 09051666681</a>
          </li>
          <li>
            <a href="https://www.facebook.com/aclcguadalupe.edu.ph" class="text-light">aclc-guadalupe.edu.ph</a>
          </li>
          </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Location</h5>
  
            <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">4th Floor Wigwam Place, 2014 Ramon Magsaysay Ave, Makati, 1212 Metro Manila</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
      <script src="/js/index.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>

<!-- test -->