<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Works - Aclc-Guadalupe Campus</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" integrity="sha384-dpuaG1suU0eT09tx5plTaGMLBsfDLzUCCUXOY2j/LSvXYuG6Bqs43ALlhIqAJVRb" crossorigin="anonymous">
        <link rel="stylesheet" href="../src/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <header class="sticky-top">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="color: #F4EBBE; font-size: 1.5rem;"><img src="../src/img/Aclc2.png" alt="logo" height="50px" style="margin-right: 3vh; margin-top: 0;">ACLC GUADALUPE</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; ">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Humms">HUMMS</a>
                  </li>
          
                  <li class="nav-item">
                    <a class="nav-link" href="#Abm">ABM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Stem">STEM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Gas">GAS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#Requirements" style="color: rgb(0, 255, 225) !important;">REQUIREMENTS FOR ENROLLMENT</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      School
                    </a>
                    <ul class="dropdown-menu" style="background-color: rgba(23, 18, 83, 0.609);">
                      <li><a class="dropdown-item" href="works.html">Student works</a></li>
                      <li><a class="dropdown-item" href="events.html">Student events</a></li>
                      <li><a class="dropdown-item" href="ict-tvl.html">TVL-ICt TRACK</a></li>
                    </ul>
                  </li>
                 
                </ul>
                <div class="d-flex contacts" role="search">
                  <a class="btn btn-outline-success" href="#footer" type="submit" style="border-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">Contact</a>
                </div>
              </div>
            </div>
          </nav>
        </header>
        <!--intro-->


      <main>
        <hr class="discover-content animate" style="height: 20px;">
<section id="discover" class="container-fluid text-center">
  <div class="discover-text animate" id="Humms">
    <h1 style=" margin-bottom: 8vh; font-size: 70px;"><span>ACADEMICS</span> <span> SENIOR</span> <span>HIGHSCHOOL</span> <span> STRANDS</span> <span>AVAILABLE</span></h1>
    <h1 style="color: lavenderblush !important; font-size: 30px; animation-duration: 1.5s !important; margin-bottom: 10vh;" class="text-center discover-text animate">The academic track in senior high school focuses on preparing students for higher education. It offers specialized subjects in areas like Science, Technology, Engineering, Mathematics (STEM), Humanities and Social Sciences (HUMSS), and Accountancy, Business, and Management (ABM). Students choose a strand based on their interests and career goals. This track develops critical thinking, problem-solving, and research skills, providing a strong foundation for college or university studies. It aims to equip students with the knowledge and skills needed for academic success and future professional careers.</h1></div>
  </section>

  <section>
    <div class="discover-main animate" style="margin-bottom: 10vh; background: #29132f;
    background: linear-gradient(270deg,#29132f 0%, #650a2e 30%, rgba(68,25,85,0) 80%);
    background: -webkit-linear-gradient(270deg,#29132f 0%, #650a2e 30%, rgba(68,25,85,0) 80%);
    background: -moz-linear-gradient(270deg,#29132f 0%, #650a2e 30%, rgba(68,25,85,0) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
        <hr class="discover-content animate" style="height: 20px;">

        <section>
          <div class="discover-text text-end animate">
            <h2 style="color: rgb(53, 181, 217); text-shadow: -2px -1px 14px rgba(255,255,255,0.6); margin-bottom: 8vh; font-size: 60px; margin-bottom: 10vh;">Humanities and Social Sciences</h2>
            <div class="discover-text text-center animate">
              <img src="../src/img/debate.jpg" class="object-fit-sm-contain border rounded" alt="..." style="height: 50vh;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#debate"  data-bs-whatever="@">
            <p style="color: lavenderblush; font-size: 20px; margin-bottom: 10vh;">TThe HUMSS strand stands for Humanities and Social Sciences. It is an academic track offered to senior high school students, particularly in the Philippines. This strand is designed for those who have an interest in the humanities, social sciences, arts, literature, and culture. It aims to provide students with a well-rounded education that emphasizes critical thinking, communication, cultural understanding, and social awareness.

              Students in the HUMSS strand engage in a variety of subjects such as literature, history, economics, psychology, sociology, and political science. The curriculum is intended to cultivate well-rounded individuals who are equipped with the necessary skills for further studies or careers in fields related to humanities and social sciences.
              
              Choosing the HUMSS strand can lead to potential career pathways in journalism, law, teaching, politics, writing, psychology, and other professions that value the skills and knowledge acquired through this educational track. It's a great choice for students who wish to explore these areas and develop a strong foundation for their future academic and career pursuits.</p>
          </div>
          </div>
          </section>
          </div>
          <div id="Abm" class="discover-main animate" style="margin-bottom: 10vh; background: rgba(255,0,0,0);
          background: linear-gradient(271deg,rgba(255,0,0,0) 0%, #2f0f50 40%, rgba(81,38,136,0) 80%);
          background: -webkit-linear-gradient(271deg,rgba(255,0,0,0) 0%, #2f0f50 40%, rgba(81,38,136,0) 80%);
          background: -moz-linear-gradient(271deg,rgba(255,0,0,0) 0%, #2f0f50 40%, rgba(81,38,136,0) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
              <hr class="discover-content animate" style="height: 20px;">
      
              <section>
                <div class="discover-text text-end animate">
                  <h2 style="color: rgb(199, 100, 205); margin-bottom: 8vh; font-size: 60px; text-shadow: -2px -1px 14px rgba(255,255,255,0.6);">Accounting, business & management</h2>
                  <div class="discover-text text-center animate">
                    <img src="../src/img/accounting.webp" class="object-fit-sm-contain border rounded" alt="..." style="height: 50vh;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#acc"  data-bs-whatever="@">
                  <p style="color: lavenderblush; font-size: 20px;">The ABM strand stands for Accountancy, Business, and Management. It's a track designed for senior high school students as part of the K-12 education system. This strand prepares students for future careers in business and finance by teaching them the basic concepts of financial management, accounting, and corporate operations.

                    Here's a brief overview of what the ABM strand entails:
                    Acquire Basic Industry Skills: It equips students with the necessary skills for higher education or the job market.
                    Adopt the Right Mindset: Students develop critical thinking and teamwork abilities.
                    Gain Business Exposure: Through business simulations and projects, students get a practical understanding of the business world.
                    
                    The ABM strand is ideal for those who aspire to become business leaders, entrepreneurs, or pursue business-related college degrees. It's a comprehensive program that not only focuses on academic knowledge but also on developing the practical skills and mindset needed for success in the business industry.</p>
                </div>
                </div>
                </section>
                </div>
          </section>
          <div id="Stem" class="discover-main animate" style="margin-bottom: 10vh; background: rgba(255,0,0,0);
          background: linear-gradient(90deg,rgba(255,0,0,0) 0%, rgba(19,154,162,0.59) 40%, rgba(0,255,0,0) 80%);
          background: -webkit-linear-gradient(90deg,rgba(255,0,0,0) 0%, rgba(19,154,162,0.59) 40%, rgba(0,255,0,0) 80%);
          background: -moz-linear-gradient(90deg,rgba(255,0,0,0) 0%, rgba(19,154,162,0.59) 40%, rgba(0,255,0,0) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
              <hr class="discover-content animate" style="height: 20px;">
      
              <section >
                <div class="discover-text text-end animate">
                  <h2 style="color: goldenrod; margin-bottom: 8vh; font-size: 60px; text-shadow: -2px -1px 14px rgba(255,255,255,0.6);">Science, Technology, Engineering & Mathematics</h2>
                  <div class="discover-text text-center animate">
                    <img src="../src/img/chem.jpg" class="object-fit-sm-contain border rounded" alt="..." style="height: 50vh;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#chem"  data-bs-whatever="@">
                  <p style="color: lavenderblush; font-size: 20px;">The STEM strand in Senior High School, particularly in the Philippines, stands for Science, Technology, Engineering, and Mathematics. It is an inquiry and research-based program designed to expose students to more complex concepts in these areas. The curriculum serves as a solid foundation for students planning to pursue college degrees related to STEM fields.

                    Here's a brief overview of what the STEM strand includes:
                    Problem-solving skills: Students engage in hands-on activities and apply the scientific method to hypothesize, experiment, analyze, and draw conclusions.
                    Communication & collaboration: Through group work and presentations, students enhance their communication skills and learn to work effectively with others.
                    Adaptability: The curriculum encourages students to adapt to change and develop resilience through trial-and-error learning experiences.
                    Major Classes: The STEM curriculum is divided into core, contextualized, and specialized subjects, becoming more focused on STEM-related topics in the second year of Senior High School.
                    
                    This strand is particularly beneficial for students who have a keen interest in the sciences and mathematics and are considering a future career in engineering, technology, or research. It aims to develop not only their academic knowledge but also critical thinking, problem-solving, and collaborative skills that are essential in the modern world.
                    </p>
                </div>
                </div>
                </section>
                </div>
                <div id="Gas" class="discover-main animate" style="margin-bottom: 10vh; background: rgba(255,0,0,0);
                background: linear-gradient(271deg,rgba(255,0,0,0) 0%, #2f0f50 40%, rgba(81,38,136,0) 80%);
                background: -webkit-linear-gradient(271deg,rgba(255,0,0,0) 0%, #2f0f50 40%, rgba(81,38,136,0) 80%);
                background: -moz-linear-gradient(271deg,rgba(255,0,0,0) 0%, #2f0f50 40%, rgba(81,38,136,0) 80%); padding: 10vh; border-radius: 40px; animation-duration: 1s;">
                    <hr class="discover-content animate" style="height: 20px;">
            
                    <section id="Abm" class="humms">
                      <div class="discover-text text-end animate">
                        <h2 style="color: rgb(172, 41, 41); margin-bottom: 8vh; font-size: 60px; text-shadow: -2px -1px 14px rgba(255,255,255,0.6);">General academic strand</h2>
                        <div class="discover-text text-center animate">
                          <img src="../src/img/teach.png" class="object-fit-sm-contain border rounded" alt="..." style="height: 50vh;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#teach"  data-bs-whatever="@">
                        <p style="color: lavenderblush; font-size: 20px;">The GAS strand stands for General Academic Strand in senior high school. It's designed for students in the Philippines who are still undecided about their future career path or college degree program. The GAS strand offers a broad curriculum that covers various disciplines, allowing students to explore different fields of study before making a more informed decision about their tertiary education.

                          Here's a brief overview of what the GAS strand includes:
                          Flexibility: Students can choose electives from different strands, which helps them in deciding on a university degree.
                          Wide Range of Subjects: It includes subjects like general mathematics, statistics, probability, philosophy, humanities, organization and management, life science, social science, applied economics, oral communication, and risk reduction and disaster preparedness.
                          Balanced Mix: GAS is a mix of HUMSS (Humanities and Social Sciences), STEM (Science, Technology, Engineering, and Mathematics), and ABM (Accountancy, Business, and Management) strands, providing a balanced education.
                          Preparation for College: The strand prepares students for almost any course in university by providing a solid foundation in a variety of subjects.
                          
                          Students who choose the GAS strand benefit from a rich educational background that can be advantageous when they eventually pick their specialization in college. It's particularly ideal for those leaning towards liberal arts, communication arts, legal management, journalism, or education.</p>
                      </div>
                   </div>
                </section>
              </div>
            
          </section>
          <section id="Requirements">
            <div class="discover-main animate" style="margin-bottom: 10vh; background: rgba(255,0,0,0);
            background: linear-gradient(90deg,rgba(255,0,0,0) 0%, #4200bb 80%);
            background: -webkit-linear-gradient(90deg,rgba(255,0,0,0) 0%, #4200bb 80%);
            background: -moz-linear-gradient(90deg,rgba(255,0,0,0) 0%, #4200bb 80%); padding: 5vh; border-radius: 40px; animation-duration: 1s; box-shadow: 34px -18px 48px 0px rgba(255,255,255,0.75);
  -webkit-box-shadow: 34px -18px 48px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: 34px -18px 48px 0px rgba(255,255,255,0.75);">
                <hr class="discover-content animate" style="height: 20px;">
        
                <section>
                  <div class="discover-text text-end animate">
                    <h2 style="color: rgb(0, 202, 135); text-shadow: -2px -1px 14px rgba(255,255,255,0.6); margin-bottom: 8vh; font-size: 60px; margin-bottom: 10vh;">REQUIREMENTS FOR ENROLLMENT
                    <div class="Require-lists text-center" style="width: auto; font-size: 20px; margin-top: 10vh; letter-spacing: 2px;">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">Form 138 (grade 10 - report card original)</li>
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">form 137 ( grade 7 - grade 10 card original) </li>
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">Diploma</li>
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">Good moral</li>
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">4 pcs. 1x1 picture white background with name</li>
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">3 pcs. 2x2 picture white background with name</li>
                        <li class="list-group-item" style="color: lavenderblush; background-color:  transparent;">PSA birthcertificate (Xerox copy)</li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  </section>

                  <!--modals-->

                  <div class="modal fade" id="debate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered  modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Debating</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="../src/img/debate.jpg" style="object-fit: cover !important; height: auto; width: 100%;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="modal fade" id="acc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered  modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Accounting</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="../src/img/accounting.webp" style="object-fit: cover !important; height: auto; width: 100%;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="modal fade" id="chem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered  modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> Students wearing a lab gown</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="../src/img/chem.jpg" style="object-fit: cover !important; height: auto; width: 100%;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>

                  
                  <div class="modal fade" id="teach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl modal-dialog-centered  modal-dialog-scrollable" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Gas</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="../src/img/teach.png" style="object-fit: cover !important; height: auto; width: 100%;">
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
      </main>

   <!-- Footer -->
<footer class="bg-transparent text-center" style="background: rgba(255,0,236,0);
background: linear-gradient(271deg,rgba(255,0,236,0) 0%, rgba(0,4,50,0.57) 80%);
background: -webkit-linear-gradient(271deg,rgba(255,0,236,0) 0%, rgba(0,4,50,0.57) 80%);
background: -moz-linear-gradient(271deg,rgba(255,0,236,0) 0%, rgba(0,4,50,0.57) 80%); margin-top: 30vh;">
    <!-- Grid container -->
    <div class="container p-4 text-center">
        
          <!-- Section: Social media -->
      <section class="mb-4">
        <div class="card-body">
            <img src="../src//img/aclc4.png" alt="logo" height="80vh" style="margin-right: 3vh; margin-top: 0;"></a>
            <section class="mb-4 text-center" >
                <!-- Facebook -->
                <a class="btn icon" style="background-image: linear-gradient(to top, #00047f 0%, #0060cd 100%) !important;" href="https://www.facebook.com/aclcguadalupe.edu.ph" role="button"><ion-icon name="logo-facebook" aria-label="favorite"></ion-icon></a>
          
    
                <!--Google maps-->
                <a class="btn icon" style="background-image: linear-gradient(to top, #00fa04 0%, #007ad1 100%) !important;" href="https://maps.app.goo.gl/UYUSJLyTkZA9ZXyX6" role="button"><ion-icon name="location-outline" aria-label="favorite"></ion-icon></a>
              </section>
            <p class="card-text">The AMA Computer Learning Center (ACLC) was established in 1987 and the AMA Telecommunication & Electronic Learning Center in 1996. The former offers short-course programs for professionals and two-year technical/vocational courses for those who wish to acquire employment skills.</p>
          </div>
      </section>
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-sm-6 mb-3 mb-sm-0">
            <h5>MISSION</h5>
            <p> Provide a holistic, quality and globally recognized IT-based Education in all levels and disciplines with the objective of producing professionals and leaders responsive to the needs of Science and the International Community cognizant of the welfare and benefit of its men and women thereby realizing their potential as productive members of society for the honor of God Almighty.</p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-sm-6">
            <h5>VISION</h5>
            <p>    To become the leader and dominant provider of quality and excellent information technology-based business education and related services in the global market.</p>
          </div>
      </section>
      <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact us</h5>

        <ul class="list-unstyled mb-0 text-center">
          <li>
            <a href="#!" class="text-light">83731201 / 88820964</a>
          </li>
          <li>
            <a href="#!" class="text-light">09989734909 / 09051666681</a>
          </li>
          <li>
            <a href="https://www.facebook.com/aclcguadalupe.edu.ph" class="text-light">aclc-guadalupe.edu.ph</a>
          </li>
          </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Location</h5>
  
            <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-light">4th Floor Wigwam Place, 2014 Ramon Magsaysay Ave, Makati, 1212 Metro Manila</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
        <script src="../src/js/modals.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>